{% extends "newapp/index.html" %}
  {% block filters %}
  <form action="" method="post">
    {% csrf_token %}
    <div class="container items-left py-2">
      {{ form }}
      <sup><button type="sumbit" name class="btn btn-primary btn-sm">submit</button></sup>
    </div>
  <form>
  {% endblock %}
  {% block content%}
    <div class="py-3 card" style="width: 80%">
      {% for dataset in data %}
        {% if dataset.photo_url %}
          {% for url in dataset.photo_url %}
            <div class="card-img-top">
              <img src={{ url }} class="img-thumbnail"><br/>
            </div>
          {% endfor%}
        {% elif dataset.doc_url %}
          {% for url in dataset.doc_url%}
            <div class="card-img-top">
              <a href="{{url}}"><img src={{ url }} class="img-thumbnail"></a><br/>
            </div>
          {% endfor%}
        {% elif dataset.video_url %}
          {% for url in dataset.video_url %}
            <div class="card-img-top">
                <video>
                    <source src="{{ url }}" type="video/">
                </video>
            </div>
          {% endfor%}
        {% endif %}
          <div class="card-body">
            <p class="card-text" style="font-size: 120%">{{ dataset.text_data }}</p>
          </div>
          <hr/>
      {% endfor%}
    </div>
    {% endblock%}
