<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8">
		<meta name = "viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>mySite</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<style>
			* {
		  margin: 0;
		  padding: 0;
			}
			html,body{
				height: 100%;
			}

			.header {
				justify-content: flex-start;
				flex: 0 0 auto;
			}
			.footer {
				flex: 0 0;
			}
			.content{
				flex: 1 0 auto;
			}
			.wrapper{
				display: flex;
				flex-direction: column;
				min-height: 100%;
			}
		</style>
	</head>
	<body>
		<div class="wrapper">
				<div class="header bg-dark" style="padding:20px">ёё
					<svg width="40" height="40">
						<a href="/"></a>
					  <rect fill="#fcf"
					    width="40"
					    height="40"/>
					</svg>
					<a href="admin/" style="padding-left: 20px;font-size: 1.5rem; font-color: red;">Admin</a>
				</div>
			<div class="content" align="center">
				<div class="py-3 card" style="width: 80%">
					{% for dataset in data %}
						{% for url in dataset.photo_url %}
							<div class="card-img-top">
								<img src={{ url }} class="img-thumbnail"><br/>
							</div>
						{% endfor%}
						<div class="card-body">
					  	<p class="card-text" style="font-size: 120%">{{ dataset.text_data }}</p>
						</div>
					{% endfor%}
				</div>
			</div>
			<div class="footer bg-dark">
				<a href="https://github.com/Nunyapa/DjangoSite" style="padding-left:30px">GitHub</a>
			</div>
		</div>
	</body>
</html>
