<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8">
		<meta name = "viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{# need to add favicon #}
		<title>mySite</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<style>
			* {
		  margin: 0;
		  padding: 0;
			}
			html,body{
				height: 100%;
			}

			.header {
				justify-content: flex-start;
				flex: 0 0 auto;
			}
			.footer {
				flex: 0 0;
			}
			.content{
				flex: 1 0 auto;
			}
			.wrapper{
				display: flex;
				flex-direction: column;
				min-height: 100%;
			}
		</style>
	</head>
	<body>
		<div class="wrapper">
				<div class="header bg-dark" style="padding:20px">
					<a href="/">
						<svg width="40" height="40">
						  <rect fill="#fcf"
						    width="40"
						    height="40"/>
						</svg>
					</a>
					<a href="/admin/" style="padding-left: 30px;font-size: 1.5rem">Admin</a>
					<a href="/posts/" style="padding-left: 50px;font-size: 1.5rem">Posts</a>
				</div>
				<div class="content" align="center">
					{% block filters %}
					{% endblock %}
					{% block welcome %}
					{% endblock %}
					{% block content %}
					{% endblock %}
				</div>
			<div class="footer bg-dark">
				<a href="https://github.com/Nunyapa/DjangoSite" style="padding-left:30px">GitHub</a>
			</div>
		</div>
	</body>
</html>
