<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8">
		<meta name = "viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Новое приложение</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	</head>
	<body class="text-center" style="background-color: #555">
		<header class="bg-dark text-right">
		<div class="container justify-content-between">
		    <a class="py-2 d-none d-md-inline-block" href="\">Home</a>
		    <a class="py-2 d-none d-md-inline-block" href="admin\">Admin</a>
		</div>
		</header>
		<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
	  	<div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
	    	<div class="my-3 p-3">
	      	<h2 class="display-5">
						<span style="color: red">Another</span> headline
					</h2>
	      	<p class="lead">And an even wittier subheading.</p>
	    	</div>
	  	</div>
		  <div class="bg-primary mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
		    <div class="my-3 py-3">
		      <h2 class="display-5">Another headline</h2>
		      <p class="lead">And an even wittier subheading.</p>
		    </div>
		  </div>
		</div>
	</body>
</html>
