{% extends "newapp/index.html" %}

  {% block title %}
  3ost:{{user.username}}
  {% endblock %}
  {% block content %}
  <div class="container shadow mt-3">
    <p align="center" class="h2 py-3"><i>Personal data</i></p>
    <form class="form-group" method="post">
      {% csrf_token %}
      <table class="table" style="width:500px;"align="center">
        <thead>
          <th colspan="2">{{ user.username }}</th>
        </thead>
        <tbody>
          <tr>
            {% if user.first_name %}
              <td>
                  First name:
              </td>
              <td>
                {{ user.first_name }}
              </td>
            {% else %}
              <td
                <label for="first_name">First name: </label>
                <input type="text" class="form-control" id="id_first_name" name="first_name" placeholder="first name">
              </td>
            {% endif %}
          </tr>
          <tr>
              {% if user.last_name %}
                <td>
                  Last name:
                </td>
                <td>
                  {{ user.last_name }}
                </td>
              {% else %}
                <td>
                  <label for="last_name">Last name: </label>
                  <input type="text" class="form-control" id="id_last_name" name="last_name" placeholder="last name">
                </td>
              {% endif %}
          </tr>
          <tr>
            {% if user.last_name %}
              <td>
                Email address:
              </td>
              <td>
                {{ user.email }}
              </td>
            {% else %}
              <td>
                <label for="email">Email address: </label>
                <input type="text" class="form-control" id="id_email" name="email" placeholder="email">
              </td>
            {% endif %}
          </tr>
        </tbody>
      </table>
    </form>
  </div>
  {% endblock%}
