{% extends "newapp/index.html"%}
{% block content %}

  <div class="container py-3 my-2 rounded shadow bg-white" style="width: 600px;" align="center">
    <h2 style="color: pink">Registration</h2>
    <form action="" method="post">
      {% csrf_token %}
      {% if err %}
        <div class="h2">
          <p><i><strong>{{ err }}</strong></i></p>
        </div>
      {%endif%}
      <table>
        {{ form.as_table }}
      </table>
      <button class="btn btn-primary"type="submit" name="register" value="register">register</button>
    </form>
  </div>
{% endblock %}
